.main{

    display: inline-block;
    
    
}
.main2{
display: inline-block;
}
.main3{
display: inline-block;
}
.mahsool1{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool2{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool3{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool4{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool5{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool6{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool7{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool8{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.mahsool9{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}
.hzn{
    width: 80px;
    height: 20px;
    background-color: cornflowerblue;
    border-radius: 7px 7px 7px 7px ;
}
body{
    background-color: #D3D3D3;
}